<mat-list>
  <mat-list-item
    *ngFor="let playlist of playlists; index as i; trackBy: trackFn"
  >
    <span class="matLine"> {{ i + 1 }}. {{ playlist.name }}</span>
    <input type="text" />
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>

<!-- container NgFor -->
<!-- <ng-template
  ngFor
  [ngForOf]="playlists"
  let-playlist="$implicit"
  let-i="index"
>
  <mat-list-item>
    <span class="matLine"> {{ i + 1 }}. {{ playlist.name }}</span>
    <mat-divider></mat-divider>
  </mat-list-item>
</ng-template> -->
