<!-- <mat-nav-list>
  <a mat-list-item
    *ngFor="let playlist of playlists; index as i; trackBy: trackFn"
  
  >
    <span class="matLine"> {{ i + 1 }}. {{ playlist.name }}</span>
    <mat-divider></mat-divider>
</a>
</mat-nav-list> -->

<mat-selection-list #selectionList [multiple]="false" color="accent"
    [ngModel]="[selectedId]" (ngModelChange)="select($event)">

  <mat-list-option
    *ngFor="let playlist of playlists; index as i; trackBy: trackFn"
    [value]="playlist.id"
  >
    <span class="matLine"> {{ i + 1 }}. {{ playlist.name }}</span>
  </mat-list-option>
</mat-selection-list>

<!-- container NgFor -->
<!-- <ng-template
  ngFor
  [ngForOf]="playlists"
  let-playlist="$implicit"
  let-i="index"
>
  <mat-list-item>
    <span class="matLine"> {{ i + 1 }}. {{ playlist.name }}</span>
    <mat-divider></mat-divider>
  </mat-list-item>
</ng-template> -->
