/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@import '@angular/material/prebuilt-themes/indigo-pink.css';

.row {
  width: calc(100% - 4rem);
  display: flex;
  gap: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0.5rem;
}

.col {
  flex: 1;
}
