<pre>{{ playlist | json }}</pre>

<form #formRef="ngForm" (ngSubmit)="submit()" *ngIf="playlist">
  <mat-form-field class="row">
    <mat-label>Name</mat-label>
    <input
      type="text"
      required="true"
      matInput
      [ngModel]="playlist.name"
      name="name"
      #ref
      #nameModelRef="ngModel"
    />
    <mat-error *ngIf="nameModelRef.hasError('required')">
      Field is required
    </mat-error>
    <mat-hint align="end">{{ nameModelRef.value?.length }} / 100</mat-hint>
  </mat-form-field>

  <mat-checkbox class="row" [ngModel]="playlist.public" name="public">
    Public
  </mat-checkbox>

  <mat-form-field class="row">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      [ngModel]="playlist.description"
      name="description"
    ></textarea>
  </mat-form-field>

  <button mat-raised-button color="warn" (click)="cancel.emit()">Cancel</button>
  <button mat-raised-button type="submit">Submit</button>
</form>

<!-- <div
    contenteditable="true"
    [(ngModel)]="playlist.description"
    name="description"
  >
    Placki
  </div> -->

<!-- 
[ngModel]="playlist.name"
(ngModelChange)=" playlist.name = $event" -->

<!-- 
[Abc]="playlist.name"
(AbcChange)=" playlist.name = $event" 

[(Abc)]="$event"
-->

<!-- 
<div class="row">
    <div class="col">
        <label for="">Name</label>
    </div>
    <div class="col">

        <input type="text"   
        [value]="playlist.name"
        (input)="playlist.name = $any($event).target.value  "
        >

        <span>{{playlist.name.length}} / 100</span>
    </div>
</div>

<div class="row">
    <div class="col">
        <label for=""> 
            <input type="checkbox"  [checked]="playlist.public" (click)="0" > Public</label>         
    </div>
</div>

<div class="row"> 
    <div class="col">
        <label for="">Description</label>
    </div>
    <div class="col">
        <textarea cols="30" rows="10"  [value]="playlist.description" ></textarea>
    </div>
</div> -->
