
<div class="row">
    <div class="col">
        <label for="">Name</label>
    </div>
    <div class="col">
        <!-- <input type="text" 
            [value]="playlist.name"
            (input)="playlist.name = $any($event).target.value  "
            (input)="playlist.name = $input($event).target.value  "> -->

        <input type="text" 
            [value]="playlist.name"  
            #nameInputRef>

        <span>{{nameInputRef.value.length}} / 100</span>
 
        <!-- <span>{{playlist.name.length}} / 100</span> -->
    </div>
</div>

<div class="row">
    <div class="col">
        <label for=""> 
            <input type="checkbox"  [checked]="playlist.public" (click)="0" > Public</label>         
    </div>
</div>

<div class="row"> 
    <div class="col">
        <label for="">Description</label>
    </div>
    <div class="col">
        <textarea cols="30" rows="10"  [value]="playlist.description" ></textarea>
    </div>
</div>